.DS_Store
./Python/Dockerfile
docker-compose.yml
.vscode
.devcontainer
code/django_app/sample.py
code/django_app/tag/migrations
code/django_app/voice/migrations
python/development.vscode.txt
docker-compose.yml
.gitignore


